.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 4px 10px rgb(255, 255, 255);
  }
  
  h2 {
    text-align: center;
    color: #ffffff;
  }
  
 
  button {
    margin: 0 5px;
  }
  th{
    color: rgb(24, 49, 0);
  }


  td{
    color: #407076;
  }